opencv-python>=4.8.0
numpy>=1.24.3
pandas>=2.0.3
PyYAML>=6.0.1
pytest>=7.4.0
fastapi>=0.100.0
uvicorn>=0.23.0
python-multipart>=0.0.6
scipy>=1.11.0
pillow>=10.0.0
gdown>=4.7.1
tqdm>=4.65.0
pyinstaller>=5.9.0
tensorflow-cpu>=2.15.0  # or tensorflow>=2.13.0
tensorflow-hub>=0.15.0
matplotlib>=3.8.0
